section.apresentationSection {
  background-color: var(--black-200);
}

section .apresentationContainer {
  padding: 60px 0 40px 10px;
}

section .apresentationContainer h1 {
  font-size: 48px;
  color: var(--white);
  font-weight: 800;
}

section .apresentationContainer {
  font-size: 20px;
  color: var(--white);
}

section .redes {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}

section .redes .iconLinkedin>svg {
  fill: var(--white);

  cursor: pointer;
  transition: all .5s ease-out;
}

section .redes .iconLinkedin>svg:hover {
  fill: var(--magenta);
}

section .redes .iconGithub>svg {
  fill: var(--white);

  cursor: pointer;
  transition: all .5s ease-out;
}

section .redes .iconGithub>svg:hover {
  fill: var(--magenta);
}
