section.projectSection {
  background-color: var(--black-200);
  padding: 6rem 0;
}

section .cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 5rem;
  margin-top: 2.5rem;
}

section .cardContainer .card {
  width: 39rem;
  max-width: 100%;
  max-height: 100%;

  border: 1px solid var(--magenta);
  border-radius: 5px;
  padding: 2rem 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

section .cardContainer .card h3 {
  font-size: 3rem;
  color: var(--white);
  font-weight: 600;
}

section .cardContainer .card h4 {
  font-size: 1.8rem;
  color: var(--gray);
  font-weight: 500;
}

section .cardContainer .card .link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .cardContainer .card .link p {
  font-size: 1.8rem;
  color: var(--magenta);
  font-weight: 500;
  cursor: pointer;
}

section .cardContainer .card .link>svg {
  cursor: pointer;
}

/* Responsivo */
@media only screen and (max-width: 992px) {
  section .cardContainer {
    justify-items: center;
  }
}

@media only screen and (max-width: 600px) {
  section .cardContainer .card {
    width: 75%;
  }
}
