section.skillsSection {
  background-color: var(--black-100);
  padding: 60px 0;
}

section .cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 180px);
  gap: 50px 0;

  justify-content: center;
  justify-items: center;
  align-items: center;

  margin-top: 2rem;
}

section .cardContainer .card {
  border: 1px solid var(--magenta);
  border-radius: 5px;
  width: 126px;
  height: 105px;
}

section .cardContainer .card .icon {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Responsivo */
@media only screen and (max-width: 600px) {
  section .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 375px) {
  section .cardContainer {
    grid-template-columns: 1fr;
  }
}
