section.skillsSection {
  background-color: var(--black-100);
  padding: 6rem 0;
}

section .cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 200px));
  gap: 5rem 0;
  align-items: center;
  margin-top: 3.2rem;
}

section .cardContainer .card {
  background-color: var(--black-200);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  width: 126px;
  height: 105px;
}

section .cardContainer .card .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

section .cardContainer .card .icon p {
  color: var(--white);
  font-size: 1.6em;
  font-weight: 500;
}

/* Responsivo */
@media only screen and (max-width: 600px) {
  section .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 375px) {
  section .cardContainer {
    grid-template-columns: 1fr;
  }
}
