section.contactSection {
  background-color: var(--black-100);
  padding: 60px 0;
}

section .contactContainer {
  display: flex;
  align-items: center;
  gap: 80px;
  margin-top: 50px;
}

section .contactContainer .contactCard {
  display: flex;
  align-items: center;
  gap: 10px;
}

section .contactContainer .contactCard .icon {
  border: 1px solid var(--magenta);
  width: 60px;
  max-width: 100%;

  max-height: 100%;
  padding: 10px;
  border-radius: 5px;

  display: flex;
  justify-content: center;
}

section .contactContainer .contactCard .icon svg {
  fill: var(--white);
  color: var(--white);
  width: 30px;
  height: 30px;
}

section .contactContainer .contactCard .textContainer {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

section .contactContainer .contactCard .textContainer h3 {
  font-size: 20px;
  color: var(--white);
  font-weight: 600;
}

section .contactContainer .contactCard .textContainer p {
  font-size: 18px;
  color: var(--white);
  font-weight: 400;
}

section .buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

section .buttonContainer button {
  background-color: transparent;
  color: var(--white);
  font-size: 24px;

  font-weight: 900;
  border: 1px solid var(--magenta);
  border-radius: 5px;

  padding: 10px 60px;
  box-shadow: 0 0 3px var(--magenta);
  cursor: pointer;
}
