header {
  background-color: var(--black-200);
  padding: 20px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100vw;
  z-index: 1;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul li {
  font-size: 13px;
  cursor: pointer;
  transition: all .5s ease-out;
}

header ul li:hover {
  color: var(--magenta);
}

header ul .dev li {
  color: var(--magenta);
  font-weight: 700;
}

header ul .menu {
  display: flex;
  gap: 30px;
  color: var(--white);
  font-weight: 600;
}
