header {
  background-color: var(--black-200);
  padding: 2rem;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100vw;
  z-index: 1;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul li {
  font-size: 1.3rem;
  cursor: pointer;
  transition: all .5s ease-out;
}

header ul li:hover {
  color: var(--magenta);
}

header ul .dev li {
  color: var(--magenta);
  font-weight: 700;
}

header ul .menu {
  display: flex;
  gap: 3rem;
  color: var(--white);
  font-weight: 600;
}

header .menuBtn {
  display: none;
}

header ul .menu.showMenu {
  transform: none;
}

/* Responsivo */
@media only screen and (max-width: 768px) {
  header {
    padding: .7rem 2rem;
  }

  header .menuBtn {
    padding: .5rem;
    cursor: pointer;
    background: transparent;

    border: 0;
    outline: 0;
    color: var(--magenta);

    display: block;
    font-size: 2.9rem;
    z-index: 1;
  }

  header ul .menu {
    position: fixed;
    top: -100vh;
    left: 0;

    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.4rem;

    background-color: var(--black-100);
    transition: 1.5s;
    transform: translateY(-10vh);
  }

  header ul .menu.showMenu {
    transform: translateY(100vh);
  }

  header ul .menu .closeBtn {
    position: absolute;
    top: 3.2rem;
    right: 3.2rem;
  }
}
