footer {
  background-color: var(--black-200);
  padding: 4rem 0;
}

footer p {
  font-size: 1.8rem;
  color: var(--white);
  font-weight: 600;
  text-align: center;
}

footer span {
  color: var(--magenta);
}
