* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

:root {
  --black-100: #252122;
  --black-200: #231F20;
  --gray: #9CA3AF;
  --magenta: #DF2BF1;
  --white: #FFF;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

h1 {
  font-size: 4.8rem;
  color: var(--white);
  font-weight: 800;
}

h2 {
  font-size: 3.2rem;
  color: var(--white);
  font-weight: 600;
}

header .container,
section .container,
footer .container {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

section .svgLine {
  margin-top: -1.3rem;
}

/* Responsivo */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 4rem;
  }
}
